.QuestionPageBody{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
}
.questionContainer > .MessageComponent{
    background-color: lightgoldenrodyellow;
    border: 2px solid gold;
}
.questionContainer > .MessageComponent > .MessageText{
    color: red;
}