.QuestionPageBody{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
}
.questionContainer > .MessageComponent{
    background-color: whitesmoke;
    border: 2px solid gold;
    border-radius: 10px;
}
.questionContainer > .MessageComponent > .MessageText{
    color: red;
}