.ReplyBox {
    align-items: center;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0;
    background-color: darkred;
    border: slategray 2px double;
}