
.MessageButtons > button{
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: darkred;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1vw;
    height: 90%;
    width: 15%;
}
.MessageButtons{
    display: inline;
}
.MessageComponent {
    text-align: center;
    color: black;
    justify-self: center;
    width: 75vw;
    height: 25vh;
    display: grid;
}
.MessageHeader{
    color: darkslategray;
    text-align: left;
    height: 15%;
    width: 100%;
    font: small "Times New Roman", Times, serif;
}
.MessageText {
    justify-self: center;
    text-align: left;
    font: medium "Times New Roman", Times, serif;
    border-top: gray solid 1px;
    border-bottom: gray solid 1px;
    text-decoration: none;
    color: darkslategray;
    min-height: 5vh;
    width: 100%;
}
.LikeButton:active{
    box-shadow: #555555 3px 3px;
}
.DislikeButton:active{
    box-shadow: #555555 3px 3px;
}
.ClearLikeButton:active{
    box-shadow: #555555 3px 3px;
}