.Comments{
    position: relative;
    left: 10vw;
    list-style-type: none;
}
.CommentContainer > .MessageComponent > .MessageText{
    color: orangered;
}
.ResponseContainer > .MessageComponent{
    background-color: floralwhite;
    border: saddlebrown solid 2px;
    border-radius: 10px;
}
.ResponseContainer > .MessageComponent > .MessageText{
    color: indianred;
}
.showCommentsButton{
    position: relative;
    left: 40%;
}
.ResponseComponent{
    margin-top: 2%;
}
.showCommentsButton{
    background-color: brown;
    border: lightsalmon solid 2px;
    color: white;
    font-size: small;
    width: 10vw;
    height: 5vh;
}