.ResultStub {
    text-align: center;
    border: #007bff 1px solid;
    color: black;
    justify-self: center;
    width: 80%;
    height: 10vh;
    display: grid;
}
.ResultHeader{
    color: darkslategray;
    text-align: center;
    height: 25%;
    width: 100%;
    font: small "Times New Roman", Times, serif;
}
.ResultText {
    justify-self: center;
    text-align: left;
    font: small "Times New Roman", Times, serif;
    border-top: gray solid 1px;
    border-bottom: gray solid 1px;
    text-decoration: none;
    color: darkslategray;
    min-height: 5vh;
    width: 100%;
}