/* Body styles */
.StockBody {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Optional padding */
    margin-top: 17%;
  }
  .btn {
    padding: 10px 15px;
    background-color: #4A90E2;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
}

.btn:hover {
    background-color: #357ABD;
    transform: translateY(-2px);
}

.btn:active {
    transform: translateY(0);
}

  /* Container styles */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center contents vertically (if needed) */
    align-items: center; /* Center contents horizontally (if needed) */
    width: 80%; /* Adjust width as needed */
     /* Optional max width for containers */
    margin-bottom: 16px; /* Spacing between containers */
  }
  
  /* Optional for aesthetic spacing */